body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root{
  --primary-color-green: #495E57;
  --primary-color-yellow: #F4CE14;
  --secondary-color-orange: #EE9972;
  --secondary-color-pink: #FBDABB;
  --highlight-color-white: #EDEFEE;
  --highlight-color-black: #333333;

  --display-title-font: 'Markazi Text', serif;
  --display-title-fw: 500;
  --display-title-fs: 35pt;
  --display-subTitle-fw: 400;
  --display-subTitle-fs: 20pt;

  --button-cta-fs: 18pt;
  --button-cta-fw: 500;
  --section-title-fw: 800;
  --section-title-fs: 20pt;
  --section-category-fs: 16pt;
  --section-category-fw: 800;
  --card-title-fs: 15pt;
  --card-title-fw: 700;
  --paragraph-fs: 13pt;
  --paragraph-fw: 400;
  --highlight-text-fs: 16pt;
  --highlight-text-fw: 500;
}

.grid-container{
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 18rem;
  grid-template-columns: 1fr;
  height: 100%;
}

.container-row{
  margin: 0 27%;
}

button{
  cursor: pointer;
}

header{
  grid-area: header;

}
header img{
  height: 50px;
}

header nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header nav ul li a{
  text-decoration: none;
  color: #333333;
  font-weight: var(--button-cta-fw);
}
.header-content{
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}


footer{
  grid-area: footer;
  background-color: var(--highlight-color-white);
  padding: 20px 0;
}
.footer-content img{
  height: 50px;
  justify-self: flex-start;
}
.footer-content{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.footer-content > * {
  justify-self: center;
}

.footer-details{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: center;
}
.footer-details > * {
  justify-self: center;
}

.footer-navigation ul{
  height: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-navigation ul li a{
  text-decoration: none;
  color: black;
}


main{
  grid-area: main;
}

.slider-container{
  background-color: var(--primary-color-green);
  margin-bottom: 120px;
}

.slider-contents{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: var(--display-title-font);
}
.slider-content-left{
  /* margin-left: 30px; */
  margin-bottom: 20px;
}
.slider-content-left h2{
  font-size: var(--display-title-fs);
  font-weight: var(--display-title-fw);
  color: var(--primary-color-yellow);
  margin-bottom: 0;
  margin-top: 10px;
}
.slider-content-left h4{
  font-size: var(--display-subTitle-fs);
  font-weight: var(--display-subTitle-fw);
  color: var(--highlight-color-white);
  margin: 0;
}
.slider-content-left p{
  color: var(--highlight-color-white);
  width: 50%;
  margin-top: 0;
  font-size: var(--paragraph-fs);
  font-weight: var(--paragraph-fw);
}
.slider-content-left a{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--primary-color-yellow);
  border: none;
  font-weight: bold;
  color: var(--highlight-color-black);
  text-decoration: none;
}


.slider-content-right{
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.box-container{
  position: absolute;
  top: 40px;
  width: 270px;
  height: 280px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.box-container img{
  height: 300px;
  transform: scale(1.4);
}

/* SPECIAL SECTION */

.specials-container{
  margin-bottom: 50px;
}

.specials-head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.specials-head h2{
  font-size: var(--section-title-fs);
  font-weight: var(--section-title-fw);
  margin: 0;
  color: var(--primary-color-green);
}
.specials-head button{
  height: 50px;
  width: 150px;
  border-radius: 15px;
  border: none;
  background-color: #F4CE14;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}

.specials-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.special-card{
  background-color: #EDEFEE;
  border-radius: 20px;
  overflow: hidden;
}
.special-card .card-image{
  height: 200px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card-image img{
  height: 100%;
}
.special-card:last-child .card-image img{
  transform: scale(1.15);
}

.card-details{
  margin: 25px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header{
  display: flex;
  justify-content: space-between;
}
.card-header .title{
  margin: 0;
  font-size: 18px;
  font-weight: var(--card-title-fw);
}
.card-header .price{
  margin: 0;
  color: #EE9972;
  font-size: 18px;
  font-weight: var(--highlight-text-fw);
}
.card-details p{
  margin: 0;
  font-size: 14px;
  font-weight: var(--paragraph-fw);
}



/* Testimonials Section */
.testimonials-section{
  background-color: #495E57;
  padding: 20px;
}

.testimonial-container{
  text-align: center;
}

.testimonial-container h2{
  font-size: var(--section-title-fs);
  font-weight: var(--section-title-fw);
  margin-top: 0;
  color: var(--primary-color-yellow);
}

.testimonial__card-image{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.testimonial__card-image img{
  width: 80px;
}

.testimonial__cards-group{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.testimonial__mid-card {
  display: flex;
  justify-content: flex-start;
}

.testimonial__card{
  background-color: #FFFFFF;
  padding: 20px 10px;
  border-radius: 10px;
}

.testimonial__card > * {
  margin-bottom: 10px;
}

.testimonial__card-name {
  align-self: center;
}

.testimonial__card-rating span{
  color: var(--primary-color-yellow);
  margin: 0.1rem;
}

/* About Section */
.about-section{
  margin: 20px 0;
  height: 250px;
}
.about-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
}

.about__left{
  display: flex;
  align-items: center;
}
.about__left-container .about__title{
  font-size: 40px;
  font-weight: var(--display-title-fw);
  color: var(--primary-color-green);
  margin-bottom: 0;
  margin-top: 10px;
}

.about__left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px;
}

.about__left-container h4{
  font-size: var(--display-subTitle-fs);
  font-weight: bold;
  color: var(--primary-color-yellow);
  margin: 0;
}
.about__left-container p{
  color: var(--highlight-color-black);
  margin-top: 20px;
  font-size: 14px;
  font-weight: var(--paragraph-fw);
}

.about__right{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about__images-box{
  position: relative;
  width: 160px;
  height: 100%;
}

.about__image-left{
  bottom: 0px;
  left: 0px;
}
.about__image-right{
  top: 0px;
  right: 0px;
}
.about__images-box > *{
  height: 145px;
  position: absolute;
  border-radius: 20px;
}

/* BOOKING SECTION */
.bookingForm-container{
  display: grid;
  max-width: 200px;
  gap: 20px;
}


@media only screen and (max-width: 1024px){
  .container-row{
    margin: 0 15%;
  }
  .specials-container{
    margin-bottom: 30px;
  }
  .card-header .title,
  .card-header .price {
    font-size: 13pt;
  }

  .card-details p,
  .card-details b{
    font-size: 11pt;
  }
}

@media only screen and (max-width: 768px){
  header img{
    height: 40px;
  }
  header nav ul li a{
    font-size: 10pt;
  }

  .slider-content-left h2{
    font-size: 30pt;
  }
  .slider-content-left h4{
    font-size: 20pt;
  }
  .slider-content-left p{
    font-size: 11pt;
  }
  .slider-content-left button{
    padding: 8px 15px;
    font-size: 8pt;
  }
  .box-container{
    width: 230px;
    height: 240px;
  }
  .box-container img{
    transform: scale(1.2);
  }
  .slider-container{
    margin-bottom: 70px;
  }

  .specials-head h2{
    font-size: 20pt;
  }
  .specials-head button{
    font-size: x-small;
    height: 40px;
    width: 120px;
  }
  .specials-cards{
    gap: 10px;
  }
  .special-card{
    border-radius: 15px;
  }
  .special-card .card-image{
    height: 150px;
  }
  .card-details{
    margin: 20px;
    height: 165px;
  }
  .card-header .title{
    font-size: 10pt;
  }
  .card-header .price{
    font-size: 10pt;
  }
  .card-details p,
  .card-details b{
    font-size: 9pt;
  }

  .grid-container{
    grid-template-rows: 5rem 1fr 15rem;
  }
  .footer-content img{
    height: 40px;
  }
  .footer-navigation ul{
    height: 0;
    gap: 5px;
  }
  .footer-navigation ul li a{
    font-size: 10pt;
  }
  .footer-content h4{
    font-size: 14px;
  }
  .footer-content p{
    font-size: 13px;
  }

  .testimonial__card-rating span{
    font-size: 12px;
  }

  .testimonial__cards-group{
    gap: 5px;
  }
  .testimonial__mid-card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonial__card-image{
    margin: 0;
    width: 60px;
    height: 60px;
  }
  .testimonial__card-name{
    margin: 5px 0;
    font-size: 12px;
  }
  .testimonial__card-image img{
    width: 60px;
  }

  .testimonial__card i{
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px){
  .container-row{
    margin: 0 5%;
  }
  .grid-container{
    grid-template-rows: 6rem 1fr 17rem;
  }
  nav{
    width: 100%;
  }
  .header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  header nav ul{
    padding: 0;
    margin: 10px 0;
  }

  .box-container{
    width: 170px;
    height: 180px;
  }
  .box-container img{
    transform: scale(.95) translateY(-50px);
  }
  .slider-content-left p{
    width: 100%;
    font-size: 10pt;
  }
  .slider-container{
    margin-bottom: 50px;
  }

  .specials-head h2{
    font-size: 15pt;
  }
  .specials-head button{
    font-size: xx-small;
    height: 30px;
    width: 100px;
  }

  .specials-cards{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .special-card{
    width: 48%;
  }
  .card-details{
    height: 140px;
  }
  .specials-container{
    margin-bottom: 30px;
  }

  .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  .testimonial__cards-group{
    grid-template-columns: 1fr 1fr;
  }

  .about-section{
    height: auto;
  }
  .about-container{
    grid-template-columns: 1fr;
  }
  .about__right{
    display: none;
  }
  .about__left-container{
    text-align: center;
  }
  .about__left-container .about__title{
    font-size: 30px;
  }
  .about__left-container h4{
    font-size: 20px;
  }
  .about__left-container p{
    font-size: 12px;
    margin-top: 10px;
  }
}